.galeria-galeria {
    display: flex;
    justify-content: center;
  
    div {
      width: 100%;
      display: flex;
      justify-content: center;
  
      img {
        width: 15%;
        height: 400px;
        object-fit: cover;
        opacity: 0.8;
        transition: 0.3s ease-in;
        z-index: 1;
  
        &:hover {
          cursor: crosshair;
          width: 20%;
          opacity: 1;
          filter: contrast(120%);
        }
      }
    }
  }
  
  .tarjeta-galeria {
    img {
      width: 101%;
      height: 20%;
      object-fit: cover;
    }
  
    display: inline-block;
    width: 30%;
    text-align: left;
    margin: 10px;
    background-color: $color-terciario;
  
    h2, p {
      padding: 10px;
    }
  }
  
  .titulo-galeria {
    h1 {
      font-size: 50px;
      font-weight: bold;
      color: #191817;
      text-align: center;
    }
  
    h2 {
      font-size: 40px;
      font-weight: bold;
      color: #191817;
      text-align: center;
    }
  }
  
  .flex-grid {
    padding: 3% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .grid-unico {
    width: 100%;
    height: auto;
    padding: 3%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "tarjetamovil-1 tarjetamovil-2 tarjetamovil-3"
      "tarjetamovil-4 tarjetamovil-5 tarjetamovil-6"
      "tarjetamovil-7 tarjetamovil-8 tarjetamovil-9";
    gap: 1%;
    overflow: hidden;
  
    [class^="tarjetamovil"]:not(.tarjetamovil) {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      color: rgb(255, 255, 255);
      box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
      position: relative;
  
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        transition: opacity 0.3s ease-out;
      }
  
      .tarjetamovil-contenido {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateY(100%);
        transition: transform 0.3s ease-out;
  
        h2 {
          margin: 0;
          font-family: sans-serif;
          font-weight: normal;
          text-transform: uppercase;
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
  
        p {
          margin-top: 20px;
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
  
        a {
          margin-top: 20px;
          opacity: 0;
          transition: opacity 0.3s ease-out;
          color: inherit;
          text-decoration: none;
        }
      }
  
      &:hover {
        .tarjetamovil-contenido {
          transform: translateY(40%);
        }
  
        h2, p, a {
          opacity: 1;
        }
      }
    }
  
    .tarjetamovil-1 {
      grid-area: tarjetamovil-1;
    }
  
    .tarjetamovil-2 {
      grid-area: tarjetamovil-2;
    }
  
    .tarjetamovil-3 {
      grid-area: tarjetamovil-3;
    }
  
    .tarjetamovil-4 {
      grid-area: tarjetamovil-4;
    }
  
    .tarjetamovil-5 {
      grid-area: tarjetamovil-5;
    }
  
    .tarjetamovil-6 {
      grid-area: tarjetamovil-6;
    }
  
    .tarjetamovil-7 {
      grid-area: tarjetamovil-7;
    }
  
    .tarjetamovil-8 {
      grid-area: tarjetamovil-8;
    }
  
    .tarjetamovil-9 {
      grid-area: tarjetamovil-9;
    }
  }
  