// "codigo anidado que se rompe sin razon"
// .menu-lista {
//     h1 {
//         text-align: center;
//         font-size: 50px;
//         font-family: sans-serif;
//         color: $color-primario;
//         text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.626);
//         padding-top: 2%;
//       }
//       .section-menu {
//         padding: 2%;

//         .menu-container {
//             display: grid;
//             grid-template-columns: repeat (2,100%);
//             grid-template-rows: repeat(4,1fr) ;
//             grid-template-areas: 
//             "beverages beverages"
//             "breakfast breakfast"
//             "cakes cakes"
//             "frappes frappes";
//             gap: 20px;

//             .beverages {
//                 grid-area: beverages;
//               }
              
//               .breakfast {
//                 grid-area: breakfast;
//               }
              
//               .cakes {
//                 grid-area: cakes;
//               }
              
//               .frappes {
//                 grid-area: frappes;
//               }

//             .menu-card {
//                 background-color: #e6e6e6;
//                 // width: 100%;
//                 border-radius: 5px;
//                 padding: 20px;
//                 margin-bottom: 20px;
//                 display: grid;
//                 grid-template-columns: repeat(2, 1fr);
                
//                 .menu-category {
//                     color: $color-primario;
//                     text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.626);
//                     background-color: $color-secundario ;
//                     border: solid 2px #000000;
//                     padding: 1%;
//                     font-size: 30px;
//                     font-weight: bold;
//                     font-family: sans-serif;
//                     margin-bottom: 10px;
//                     text-align: center;
//                     grid-column: span 2;
//                 }
//                 .menu-item {
//                     align-items: center;
//                     gap: 10px;
//                     padding: 2%;
//                     display: flex;
//                     flex-direction: row-reverse;
//                     justify-content: space-between;
//                     border-right:solid 2px #888;

//                     .menu-item-image {
//                         width: 150px;
//                         height: 150px;
//                         object-fit: cover;
//                         border-radius: 0;
//                     }
                    
//                     div {
//                         width:40% ;

//                     .menu-item-name {
//                         font-size: 20px;
//                         font-weight: bold;
//                         font-family: sans-serif;
//                       }
                      
//                     .menu-item-price {
//                         font-size: 19px;
//                         font-family: sans-serif;
//                       }
//                     }
//                 }
//             }
//         }
//     }
// } 

.menu-lista {
    h1 {
        text-align: center;
        font-size: 50px;
        font-family: sans-serif;
        color: $color-primario;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.626);
        padding-top: 2%;
    }

    .section-menu {
        padding: 2%;

        .menu-container {
            display: grid;
            grid-template-columns: repeat (2,100%);
            grid-template-rows: repeat(4,1fr) ;
            grid-template-areas: 
            "beverages beverages"
            "breakfast breakfast"
            "cakes cakes"
            "frappes frappes";
            gap: 20px;

            .menu-card {
                background-color: #e6e6e6;
                /* width: 100%; */
                border-radius: 5px;
                padding: 20px;
                margin-bottom: 20px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

  .menu-item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 0;
  }
  
  .menu-item-name {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .menu-item-price {
    font-size: 19px;
    font-family: sans-serif;
  }
  
  .beverages {
    grid-area: beverages;
  }
  
  .breakfast {
    grid-area: breakfast;
  }
  
  .cakes {
    grid-area: cakes;
  }
  
  .frappes {
    grid-area: frappes;
  }
  
  .menu-category {
    color: $color-primario;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.626);
    background-color: $color-secundario ;
    border: solid 2px #000000;
    padding: 1%;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 10px;
    text-align: center;
    grid-column: span 2;
  }
  
  .menu-item  {
    @include flex (space-between, center);
    flex-direction: row-reverse;
    gap: 10px;
    padding: 2%; 
    border-right:solid 2px #888;

    div {
      width:40% ;
    }
  }