
.mapa {
    display: flex;
    width: 100%;
    padding: 3% 0%;
  
    &-texto {
      @include flex-centrado;
      flex-direction: column;
      gap: 3%;
      width: 100%;
  
      h1 {
        font-size: 50px;
        font-weight: bold;
        color: #191817;
        text-align: center;
      }
  
      p {
        font-size: 24px;
        color: #191817;
        padding: 0% 3%;
      }
    }
  
    &-iframe {
      @include flex-centrado;
      width: 100%;
      flex-direction: column;
  
      iframe {
        height: 100%;
        width: 95%;
        object-fit: cover;
        padding: 0;
        border-radius: 20px;
      }
  
      h2 {
        font-size: 0px;
        font-weight: bold;
        color: #191817;
        text-align: center;
        padding: 0 0 2%;
      }
    }
  }
  
  .el-mejor-cafe {
    width: 100%;
  
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
  
  .producto {
    @include flex(space-around, center);
    padding: 3% 0%;
  
    &-divtext {
      @include flex-centrado;
      padding: 0% 0% 0% 3%;
      flex-direction: column;
      height: 50%;
      width: 60%;
      gap: 3%;
  
      &-titulo {
        font-size: 45px;
        font-weight: bold;
        color: #191817;
        text-align: center;
      }
  
      &-parrafo {
        font-size: 24px;
        color: #191817;
        text-align: center;
      }
    }
  
    &-divimg {
      @include flex-centrado;
      width: 80%;
      height: 45%;
  
      &-imagen {
        height: 550px;
        width: 85%;
        object-fit: cover;
        border-radius: 20px;
      }
  
      &-titulo {
        font-size: 0px;
        font-weight: bold;
        color: #191817;
        text-align: center;
        padding: 0 0 2%;
      }
    }
  }
  
  .pago {
    @include flex-centrado;
    flex-direction: column;
    padding-bottom: 4%;
  
    &-titulo {
      display: flex;
      font-size: 45px;
      font-weight: bold;
      color: #191817;
      text-align: center;
    }
  
    &-parrafo {
      display: flex;
      font-size: 20px;
      color: #191817;
      text-align: center;
      padding: 0 4%;
    }
  }
  
  .historia {
    @include flex-centrado;
    flex-direction: row-reverse;
    padding: 0 3% 3% 0;
  
    &-divtext {
      @include flex-centrado;
      width: 55%;
      flex-direction: column;
  
      &-titulo {
        font-size: 45px;
        font-weight: bold;
        color: #191817;
        text-align: center;
      }
  
      &-parrafo {
        font-size: 24px;
        color: #191817;
        text-align: center;
      }
    }
  
    &-divimg {
      @include flex-centrado;
      width: 50%;
  
      &-titulo {
        display: none ;
        font-size: 0px ;
        font-weight: bold;
        color: #191817;
        text-align: center;
      }
  
      &-imagen {
        height: 80%;
        width: 90%;
        border-radius: 20px;
      }
    }
  }

  //fuera porque rompe las media queries

  .producto-divtext-imagen-titulo{
    font-size: 0px;
    font-weight: bold;
    color: #191817;
    text-align: center;
    padding: 0 0 2%;
  }
  