// footer {
//     background-color: $color-secundario;
//     color: $color-secundario;
//     padding: 6px 20px;
//     margin-bottom: 0%;
//     width: 100%;
// }
// footer div ul{
//     display: flex;
//     text-align: justify;
//     list-style: none;
//     justify-content: space-evenly;
//     padding: 0%;
//     margin: 0%;
// }

// footer div li {

//     color: $color-primario; 
//     text-decoration: none; 
//     padding: 2px 3px; 
//     text-align: center;
// }

// footer div ul  li a {
//     color: $color-primario;
//     font-size: 20px;
//     text-decoration: none;
//     font-family: sans-serif;
//     text-align: justify;
//     padding: 2px 3px;
//     border-bottom: 2px solid transparent;
//     transition: 0.5s;
// }

// footer div ul  li a:hover {
//     border-bottom: 2px solid $color-primario;
// }

footer {
    background-color: $color-secundario;
    color: $color-secundario;
    padding: 6px 20px;
    margin-bottom: 0%;
    width: 100%;
  
    div {
      ul {
        display: flex;
        text-align: justify;
        list-style: none;
        justify-content: space-evenly;
        padding: 0%;
        margin: 0%;
  
        li {
          color: $color-primario;
          text-decoration: none;
          padding: 2px 3px;
          text-align: center;
  
          a {
            color: $color-primario;
            font-size: 20px;
            text-decoration: none;
            font-family: sans-serif;
            text-align: justify;
            padding: 2px 3px;
            border-bottom: 2px solid transparent;
            border-radius: 2px;
            transition: 0.5s;
  
            &:hover {
              border-bottom: 2px solid $color-primario;
            }
          }
        }
      }
    }
  }
  