// mixins

@mixin flex($justify, $aling) {
    display: flex;
    justify-content: $justify;
    align-items: $aling;
  }
  
// @extend

.flex-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
  }
