
// color rosa:#fcb0b1;
// color marron:#574F42;
// color blanco:#f2f2f2;
// color munu:#ffb5ef62;

$color-primario:#fcb0b1;   // rosa
$color-secundario:#574F42;   // marron
$color-terciario: #f2f2f2;   // blanco
$color-cuaternario:#ffb5ef; //rosa/menu
$color-fondo-degradado:#ffebcdcc   // beige claro

// $fuente-h1-h2:sans-serif;
// $fuente-p:arial,sans-serif;



